<h2 class="text-lg font-semibold mb-2">Request with payload and response (example #2)</h2>
<div class="grid divide-y md:grid-cols-2 md:divide-y-0 md:divide-x">
  <div class="pr-2">
    <h3 class="text-sm mb-1 font-semibold">Request</h3>
    <div class="grid gap-1 mb-6">
      <mat-form-field class="example-form-field w-full">
        <mat-label>raw string payload</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <mat-form-field class="example-form-field w-full">
        <mat-label>random number</mat-label>
        <input matInput type="number" disabled value="0">
      </mat-form-field>
      <div class="text-lg">
        <p class="text-orange-400">sending...</p>
        <p class="text-green-700">sent</p>
        <p class="text-red-700">error</p>
        <p>time: <span class="font-bold">12 ms</span></p>
      </div>
      <div>
        <button mat-flat-button color="primary" class="w-full md:w-fit px-4">Send</button>
        <button mat-flat-button color="basic" class="w-full md:w-fit px-4">Reset</button>
      </div>
    </div>
  </div>
  <div class="pl-2">
    <h3 class="text-sm mb-1 font-semibold">Response</h3>
    <mat-form-field class="example-form-field w-full">
      <mat-label>response</mat-label>
      <textarea value="<no response>" disabled matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>
  </div>
</div>